<ion-view title="Login" id="page5" hide-nav-bar="true">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/YJaAf91Qxe3aT7xblyKP_Nova_logo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <ion-list id="login-list4">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 24px;"></div>
      <a ui-sref="tabsController.reuniEs" id="login-button10" class="button button-assertive  button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>