<ion-view title="Sign Up" id="page7">
  <ion-content padding="true" class="has-header">
  	<form name="signupForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">

                <div style="color: #555555;"><strong>Nome do usuário</strong></div>
				 <label class="item item-input">
				 <input type="text" ng-model="user.name">
				 </label>
			<div class="spacer" style="width: 300px; height: 18px;"></div>
                 <div style="color: #555555;"><strong>Nome da Célula</strong></div>
				 <label class="item item-input">
				 <input type="text" ng-model="user.cell">
				 </label>
			<div class="spacer" style="width: 300px; height: 18px;"></div>
		         <div style="color: #555555;"><strong>Igreja</strong></div>
				 <label class="item item-input">
				 <input type="text" ng-model="user.church">
				 </label>
			<div class="spacer" style="width: 300px; height: 18px;"></div>
                 <div style="color: #555555;"><strong>Email</strong></div>
				 <label class="item item-input">
				 <input type="email" ng-model="user.email">
				 </label>
		    <div class="spacer" style="width: 300px; height: 18px;"></div>
		         <div style="color: #555555;"><strong>Senha</strong></div>
				 <label class="item item-input">
				 <input type="{{inputType}}" ng-model="user.password">
				 </label>
				 <input style=" visibility: hidden;" type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()">
				 <label for="checkbox" ng-if="passwordCheckbox"><i style="font-size: 20px;" class = "icon icon ion-ios-eye"></i></label>
				<label for="checkbox" ng-if="!passwordCheckbox"><i style="font-size: 20px;" class="icon ion-eye-disabled"></i></label>
            </ion-list>
            <div style="width: 279px; height: 35px;" class="spacer"></div>
            <button ng-click="signupEmail(signupForm,user)" class=" button button-calm  button-block" id="signup-button3">Registrar</button>
        </form>
  </ion-content>

</ion-view>